<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link href="/css/reset.css" rel="stylesheet" type="text/css">
        <link href="/css/root.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link href="/css/util.css" rel="stylesheet" type="text/css">
        <link href="/css/icon.css" rel="stylesheet" type="text/css">
        <link href="/css/button.css" rel="stylesheet" type="text/css">
        <link href="/css/components/bottom.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="bottom-nav md:d:none">
        <h1 class="d:none">하단바 네비게이션</h1>
        <ul class="bottom-ul">
            <a href="" class="icon icon-home icon-size:5 icon-color:black"> 홈</a>
            <a href="" class="icon icon-search icon-size:5 icon-color:black"> 검색</a>
            <a href="" class="icon icon-community icon-size:5 icon-color:black"> 커뮤니티</a>
            <a href="" class="icon icon-person icon-size:5 icon-color:black"> 마이페이지</a>
        </ul>
    </nav>
</body>
</html>