<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link href="/css/reset.css" rel="stylesheet" type="text/css">
        <link href="/css/root.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link href="/css/util.css" rel="stylesheet" type="text/css">
        <link href="/css/icon.css" rel="stylesheet" type="text/css">
        <link href="/css/button.css" rel="stylesheet" type="text/css">
        <link href="/css/components/header.css" rel="stylesheet" type="text/css">
        <link href="/css/components/layout.css" rel="stylesheet" type="text/css">
</head>
<body>
<footer class="footer">
    <section>
        <h1 class="d:none">맛잘알 회사 정보</h1>
        <dl>
            <dt>사업자: Taeho Noh</dt>
            <dd>123-45-67</dd>

            <dt class="d:none">저작권</dt>
            <dd class="colspan:2">© 2023 matzalal.com All Rights Reserved</dd>
        </dl>

    </section>
</footer>
</body>
</html>