
@import url('https://webfontworld.github.io/sandbox/SBAggro.css');

.header{
    background-color: var(--color-base-0);
    color: var(--color-base-4);
    font-weight: bold;
    padding : 0 50px;
    height : 60px;
    display : flex;
    border-bottom: 1.5px solid var(--color-base-3);

}
.header
    .content-box{
    /* font-family: 'SBAggro'; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.header
    nav
        ul {
            width:100%;
            display: flex;
            justify-content: flex-end;
        }
    
.header
    .web
        li{
        margin-left: 40px;
        position: relative;
        line-height: 4;
        }

@media (min-width: 700px) {

    .header 
        .content-box {
        max-width:1400px;
        }
    
    .header
        .web
            a:hover{
                color: var(--color-base-5);

            }

            
    .header
        .web
        li.active
        a::after{
            content: '';
            width: 102%;
            border-bottom: 3px solid var(--color-base-4);
            position: absolute;
            bottom: 0;
            left: 0;
        }
        

}

