<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="../reset.css" rel="stylesheet" type="text/css">
  <link href="../root.css" rel="stylesheet" type="text/css">
  <link href="../style.css" rel="stylesheet" type="text/css">
  <link href="../util.css" rel="stylesheet" type="text/css">
  <link href="../icon.css" rel="stylesheet" type="text/css">
  <link href="../button.css" rel="stylesheet" type="text/css">
  <link href="layout.css" rel="stylesheet" type="text/css">
  <link href="header.css" rel="stylesheet" type="text/css">
</head>

<body>
<header class="header md:header">
  <nav class="main-menu content-box">
    <!-- ----------------모바일---------------- -->
    <div class="md:d:none content-box">
      <a href="" class="icon icon-size:4 icon-color:black icon-back">뒤로가기</a>
      <h1>회원가입</h1>
      <a></a>
    </div>
    <!-- ----------------웹---------------- -->
    <a class="mxd:d:none"><img src="/css/image/icon/logo.svg" style="height:20%" alt="맛잘알"></a>
    <ul class="mxd:d:none web">
      <li class="mxd:d:none font"><a href="" >커뮤니티</a></li>
      <li class="mxd:d:none"><a href="" >유명인</a></li>
      <li class="mxd:d:none"><a href="" class="active" >마이페이지</a></li>
      <li class="mxd:d:none"><a href="" >고객센터</a></li>
    </ul>
  </nav>
</header>

</body>
</html>