<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/inc/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원상세조회</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/util/box.css" rel="stylesheet" type="text/css">
    <link href="/css/util/content.css" rel="stylesheet" type="text/css">
    <link href="/css/util/form.css" rel="stylesheet" type="text/css">
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css">
    <link href="/css/components/pagination.css" rel="stylesheet" type="text/css">
    <link href="/css/components/admin/search.css" rel="stylesheet" type="text/css">
    <link href="/css/components/button.css" rel="stylesheet" type="text/css">
    <link href="/css/components/admin/dropdown-select.css" rel="stylesheet" type="text/css">
    <link href="/css/components/admin/main-header.css" rel="stylesheet" type="text/css">
    <link href="/css/components/admin/user/edit.css" rel="stylesheet" type="text/css">
    <script src="/js/admin/user/edit.js"></script>
</head>
<body>
    <main layout:fragment="main">
        <section class="user-detail">
            <h1 class="user-detail-title">회원 상세 조회</h1>
    
                <form action="update" th:method="put" enctype="multipart/form-data" class="edit">
					<!--<input type="hidden" name="_method" value="PUT"/>-->
                    <fieldset>
					<input type="hidden" name="id" th:value="${userDtl.id}" class="id">
                    <div class="filebox">
                        <img src="/css/image/admin-icon/user.svg" class="user-img">
                        <!-- <label for="file">사진추가</label>
                            <input type="file" id="file" value="사진추가"> -->
                        </div>

                    <div class="input-box">
                        <div class="text-box grade-box">
                            <label>등 급</label>
                            <div class="user-grade dropdown-select md:dropdown-select">
                                <!-- 직접 입력하는 일 없이, 현재 등급을 출력하거나, 오른쪽의 등급 선택하면 변경되도록 -->
                                <!--<input type="text" class="grade" size="15" disabled th:text="${user.gradeId}">-->
                                <!--<a th:text="${userId.gradeId}">test</a>-->
                                
                                <label for="grade" class="d:none">등급 선택창</label>
                                <select id="" name="grade">
                                    <option value="1">쌀알</option>
                                    <option value="2">쌀밥</option>
                                    <option value="3">볶음밥</option>
                                </select>
                            </div>
                        </div>
                            
                            
                        <div class="text-box alias-box">
                            <label>닉네임</label>
                            <div>
                                <input type="text" size="32" id="alias" name="alias" th:value="${userDtl.alias}">
                            </div>
                        </div>

                        <div class="text-box email-box">
                            <label>이메일</label>
                            <div>
                                <input type="email" size="32" id="email" name="email" th:value="${userDtl.email}">
                            </div>
                        </div>

                        <div class="text-box pwd-box">
                            <label>비밀번호</label>
                            <div>
                                <input type="password" size="30" id="pwd" name="pwd" th:value="${userDtl.pwd}">
                            </div>
                        </div>
                        
                        <div class="text-box name-box">
                            <label>실 명</label>
                            <div class="">
                                <input type="text" size="33" name="name" th:value="${userDtl.name}">
                            </div>
                        </div>
    
                        <div class="text-box phone-box">
                            <label>연락처</label>
                            <div class="">
                                <input type="text" pattern="^01[01689]-\d{3,4}-\d{4}$" size="32" name="phone"  th:value="${userDtl.phone}">
                            </div>
                        </div>
    
                        <div class="text-box sign-up-date-box">
                            <label>가입일</label>
                            <div class="">
                                <input type="datetime" size="32" name="date"  th:value="${userDtl.date}">
                            </div>
                        </div>            
    
                        <div class="text-box user-status-box">
                            <label>활동상태</label>
                            <div class="dropdown-select md:dropdown-select">
                                <input type="text" size="12">
                            
                                <label for="" class="d:none">활동상태 선택창</label>
                                    <select id="" name="status">
                                        <option value="1">정상</option>
                                        <option value="2">정지(7일)</option>
                                        <option value="3">정지(30일)</option>
                                        <option value="4">강퇴</option>
                                    </select>
                            </div>
                        </div> 

                        <div class="text-box report-reason-box">
                            <label>신고유형</label>
                            <div class="dropdown-select md:dropdown-select">
                                <input type="text" size="12" >
                                <label for="" class="d:none">신고사유 선택창</label>
                                    <select id="" name="reportReason" >
                                        <option value="1">신고 사유</option>
                                        <option value="2">욕설, 비방, 차별, 혐오</option>
                                        <option value="3">홍보, 영리 목적</option>
                                        <option value="4">불법정보</option>
                                        <option value="5">음란, 청소년 유해</option>
                                        <option value="6">개인 정보 노출, 유포, 거래</option>
                                        <option value="7">도배, 스팸</option>
                                        <option value="8">기타</option>
                                    </select>
                            </div>
                        </div> 
                        
                    </div>
				</fieldset>
                <div class="manage-button">
                    <!--<div class="store-create-button">
                        <input type="submit" value="등록" class="btn-main btn-main-create btn-main-small">
                    </div>-->
                    <a class="store-edit-button">
                        <input type="submit" value="수정" class="btn-main btn-main-create-edit btn-main-small">
                    </a>
                    <a class="store-delete-button" href="/admin/user/list">
                        <input type="button" value="취소" class="btn-main btn-main-create bg-color:logo-1 btn-main-small">
                    </a>
                </div>
                </form>

        </section>
    </main>
</body>
</html>