<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


	  <link href="/css/reset.css" rel="stylesheet" type="text/css">
	  <link href="/css/root.css" rel="stylesheet" type="text/css">
	  <link href="/css/style.css" rel="stylesheet" type="text/css">
	  <link href="/css/util.css" rel="stylesheet" type="text/css">
	  <link href="/css/icon.css" rel="stylesheet" type="text/css">
	  <link href="/css/button.css" rel="stylesheet" type="text/css">
	  
	  <link href="/css/components/header.css" rel="stylesheet" type="text/css">
	  <link href="/css/components/bottom.css" rel="stylesheet" type="text/css">
	  <link href="/css/components/layout.css" rel="stylesheet" type="text/css">

</head>
<body>

    <footer class= "footer justify-content:center mxd:d:none">
        <section>
            <h1 class = "d:none"> 맛잘알 회사정보 </h1>
                <dl>
                    <dt class=" justify-self:right"> MatZalAl Company</dt>
                    <dd class=" justify-self:left"> CEO Teaho Noh</dd>

                    <dt class="d:none justify-self:right"> 맛잘알 소개 </dt>
                    <dd class="colspan:2 justify-self:center"> 맛있는 것에 진심인 사람들이 모인 커뮤니티</dd>


                  </dl>
        </section>
    </footer>


</body>
</html>