<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matzalal.web.repository.NoticeRepository">

<!-- 	<resultMap id="noticeMap" type="Notice">
		<id property="id" column="user_id"/>
		<result property="noticeId" column="notice_id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="createdDate" column="created_date" />
		<result property="openedDate" column="opened_date" />
		<result property="closedDate" column="closed_date" />

	</resultMap> -->

	<select id="findAll" resultType="Notice">
		select
		*
		from notice
	</select>

	<select id="count" resultType="Integer">
		select count(notice_id) count from notice
	</select>

</mapper>