<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matzalal.web.repository.SearchRepository">

    <select id="findListByWord" parameterType="RestView">
        select * from restaurant
        <where>
            <if test="query != null">restName like '%${query}%'</if>
            <if test="menu != null">and menu like '%${query}%'</if>
        </where>
    </select>

</mapper>