<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/inc/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛집후기관리</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/components/button.css" rel="stylesheet" type="text/css">
    <link href="/css/components/pagination.css" rel="stylesheet" type="text/css">
    <link href="/css/components/admin/search.css" rel="stylesheet" type="text/css">
    <link href="/css/components/admin/dropdown-select.css" rel="stylesheet" type="text/css">
    <link href="/css/components/admin/main-header.css" rel="stylesheet" type="text/css">
    <link href="/css/components/admin/store/review.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main layout:fragment="main" class="main">
        <section class="main-section md:main-section">
            <h1 class="main-section-title">후기 관리</h1>
            <header class="main-section-header">
                <div class="main-section-count">
                    <p>총 <span>00</span>개</p>
                </div>
    
                <!-- 삭제 버튼 -->
                <div class="manage-button">
                    <form action="" class="">
                        <input type="button" value="삭제" class="btn-main btn-main-create btn-main-create-delete btn-main-small">
                    </form>
                </div>
                
                <!-- 내용 검색 버튼 -->
                <form class="search-form">
                    <fieldset class="search md:search">
                        <legend class="d:none">내용 검색</legend>
                        <input type="search" placeholder="내용" size="5">
                        <button type="submit" class="icon icon-color-black icon-search"></button>
                    </fieldset>
                </form>
            </header>
        
            <!-- 후기 목록 -->
            <section class="review-block md:review-block">
                <h1 class="review-content">후기 내용~~~</h1>

                <form action="" class="checkbox-block">
                    <input type="checkbox">
                </form>
    
                <div class="review-alias-block">
                    <a class="">닉네임</a>
                </div>
    
                <div class="review-date-block">
                    <a class="">2023년 9월 20일</a>
                </div>
    
                <div class="review-store-block">
                    <a class="">또보겠지 떡볶이</a>
                </div>
    
                <div class="star-block md:star-block">
                    <a class="icon icon-size:2 icon-color-black icon-star">0점</a>
                    <a class="icon icon-size:2 icon-color-black icon-star">0점</a>
                    <a class="icon icon-size:2 icon-color-black icon-star">0점</a>
                    <a class="icon icon-size:2 icon-color-black icon-star">0점</a>
                    <a class="icon icon-size:2 icon-color-black icon-star">0점</a>
                </div>
            </section> 

            <section class="review-block md:review-block">
                <h1 class="review-content">후기 내용~~~</h1>

                <form action="" class="checkbox-block">
                    <input type="checkbox">
                </form>
    
                <div class="review-alias-block">
                    <a class="">닉네임</a>
                </div>
    
                <div class="review-date-block">
                    <a class="">2023년 9월 20일</a>
                </div>
    
                <div class="review-store-block">
                    <a class="">또보겠지 떡볶이</a>
                </div>
    
                <div class="star-block md:star-block">
                    <a class="icon icon-size:2 icon-color-black icon-star">0점</a>
                    <a class="icon icon-size:2 icon-color-black icon-star">0점</a>
                    <a class="icon icon-size:2 icon-color-black icon-star">0점</a>
                    <a class="icon icon-size:2 icon-color-black icon-star">0점</a>
                    <a class="icon icon-size:2 icon-color-black icon-star">0점</a>
                </div>
            </section> 

            <!-- 페이지 이동 -->
            <div class="pagination">
                <a class="" href="">&laquo;</a>
                <a class="page-active" href="">1</a>
                <a class="" href="">2</a>
                <a class="" href="">3</a>
                <a class="" href="">4</a>
                <a class="" href="">5</a>
                <a class="" href="">&raquo;</a>
            </div>

        </section>
    </main>
</body>
</html>