<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<!--  <link href="../reset.css" rel="stylesheet" type="text/css">-->
<!--  <link href="../root.css" rel="stylesheet" type="text/css">-->
<!--  <link href="../util.css" rel="stylesheet" type="text/css">-->
<!--  <link href="../icon.css" rel="stylesheet" type="text/css">-->
<!--  <link href="../button.css" rel="stylesheet" type="text/css">-->
<!--  <link href="/css/components/header.css" rel="stylesheet" type="text/css">-->
</head>
<body>
  <header class="header md:header" th:fragment="h">
    <div class="content-box">
      <h1>Rland</h1>
      <nav class="main-menu">
        <ul class="md:d:none">
          <li><a href="" class="icon icon-menu md:icon-size:3 icon-color:base-0">메뉴</a></li>
          </ul>
        <ul class="d:none md:d:flex">
          <li><a href="" class="icon icon-cart icon-color:base-0">장바구니</a></li>
          <li><a href="" class="icon icon-hover icon-alert icon-color:base-0 icon-count-with">알림<span>2</span></a></li>
          <li sec:authorize="isAnonymous()"><a href="/user/login" class="icon icon-person icon-color:base-0">로그인</a></li>
          <li sec:authorize="isAuthenticated()" ><span sec:authentication="principal.email"></span><a href="/user/logout" class="icon icon-sign-out icon-color:base-0">로그아웃</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>