<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link href="/css-backup/reset.css" rel="stylesheet" type="text/css">
        <link href="/css-backup/root.css" rel="stylesheet" type="text/css">
        <link href="/css-backup/style.css" rel="stylesheet" type="text/css">
        <link href="/css-backup/util/content.css" rel="stylesheet" type="text/css">
        <link href="/css-backup/util/layout.css" rel="stylesheet" type="text/css">
        <link href="/css-backup/util/box.css" rel="stylesheet" type="text/css">
        <link href="/css-backup/util/form.css" rel="stylesheet" type="text/css">
        <link href="/css-backup/icon.css" rel="stylesheet" type="text/css">
        <link href="/css-backup/button.css" rel="stylesheet" type="text/css">
        <link href="/css-backup/heading.css" rel="stylesheet" type="text/css">
        <link href="card.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section class="menu-card">
            <h1><a class="heading-3" href="detail?id=1">카페라떼</a></h1>
            <h2 class="heading-2 font-weight:normal color:base-5">Cafe Latte</h2>
            <div class="price-block d:flex"><span class="font-weight:bold">4,500</span>원<span
                    class="ml:auto mr:auto">SOLD OUT</span></div>
            <div class="img-block">
                <a href><img src="/image/menu/8.jpg"></a>
            </div>
            <div class="like-block">
                <a class="icon icon-heart" href>좋아요</a><span
                    class="font-weight:bold">2</span>
            </div>
            <div class="pay-block d:flex">
                <a
                    class="icon icon-cart icon-color:base-0 icon-size:1 btn-icon bg-color:main-3 md:btn btn-type:icon"
                    href>장바구니</a>
                <a
                    class="icon icon-card btn-icon icon-color:base-0 icon-size:1 bg-color:accent-1 btn-type:icon"
                    href>결제하기</a>
            </div>
        </section>
    </body>
</html>