<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://webfontworld.github.io/sandbox/SBAggro.css" rel="stylesheet">

    <link href="/css/reset.css" rel="stylesheet" type="text/css">   <!-- 리셋 -->
    <link href="/css/root.css" rel="stylesheet" type="text/css">     <!-- 기본변수 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">    <!-- 기본 스타일  -->

    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/button.css" rel="stylesheet" type="text/css">

    <link href="/css/components/commu/post/detail.css" rel="stylesheet" type="text/css">

</head>

<body>
    <section class = "commu_area">
        <h1 class = "d:none"> 🌝 커뮤 공간 🌝 </h1>

            <div class="post-layout md:post-layout" >

                <div class = "container md:container">

                    <section class ="top"> 
                        <h1 class="d:none"> 작성자 정보 & 작성시간 & 확장메뉴</h1>

                        <section class="member_info">
                            <h1 class="d:none"> 작성자 등급 & 닉네임</h1>

                            <div class="badge">
                                <img src="/image/icon/grade2.svg" style="height:20px;" alt="등급2" /> 
                            </div>
                                   
                            <div class="nickname">
                                <span > 
                                    팅클이졸귀임 
                                </span>
                            </div>
                        </section>

                        <section class="date_info">
                            <h1 class="d:none"> 작성 시간 & 확장메뉴</h1>

                            <div>
                                <span>    
                                    12분전   
                                </span> 
                            </div>

                            <div>
                                <a class="icon icon-more-horiz icon-size-commu:2 icon-color:va" href=""> 세로 확장</a>
                            </div>
                        </section>
                    </section>

                    <section class ="middle"> 
                        <h1 class="d:none"> 게시글-제목, 내용, 사진  </h1>

                            <section class="title">
                                <h1 class="d:none"> 제목</h1>
                                <p> 111 첫번째 피드 .</p>
                            </section>

                            <section class="content">
                                <h1 class="d:none"> 내용</h1>
                                <p> 내용입니다. 내용을 많이많이많이 적으면 어떻게 되려나아아아아아아아아아아아아아</p>
                            </section>

                            <section class="picture md:picture">
                                <h1 class="d:none"> 사진</h1>
                                <picture>
                                    <img src="/image/ranking1.JPG" alt="Responsive Image">
                                    <img src="/image/ranking2.JPG" alt="Responsive Image">
                                    <img src="/image/ranking3.JPG" alt="Responsive Image">  
                                </picture>  
                            </section>
                    </section>
  
                    <section class ="bottom"> 
                        <h1 class="d:none"> 조회수 좋아요 댓글 </h1>

                            <section class="view">
                                <h1 class="d:none"> 조회수 </h1>

                                    <div>
                                        <span class="deco icon-view icon-size:1 icon-color:main" href=""> 조회수</span>
                                    </div>

                                    <div>
                                        <span> 367</span>
                                    </div>
                            </section>

                            <section class="like">
                                <h1 class="d:none"> 좋아요 </h1>

                                    <div>
                                        <a class="icon icon-likes icon-size:1 icon-color:main" href=""> 좋아요</a>
                                    </div>


                                    <div>
                                        <span> 98</span>
                                    </div>
                            </section>
              
                            <section class="comment">
                                <h1 class="d:none"> 댓글 </h1>

                                    <div>
                                        <span class="deco icon-comment icon-size:1 icon-color:main" href=""> 댓글</span>
                                    </div>

                                    <div>
                                        <span> 57</span>
                                    </div>
                            </section>
                            
                    </section>
                </div>

    </section>

</body>

</html>
