<!DOCTYPE html>

<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout.html}">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link href="/css/components/index/mainPage_button.css" rel="stylesheet" type="text/css">
	<link href="/css/components/index/mainPage_rank.css" rel="stylesheet" type="text/css">
	<link href="/css/components/index/searchbar.css" rel="stylesheet" type="text/css">
	<link href="/css/components/index/horizontalscroll.css" rel="stylesheet" type="text/css">

</head>

<body>
	
	<main layout:fragment="main">
		<div class="main_btn_div">
			<section>
				<h1>오늘의 랭킹</h1>
				<div class="sort">
					<div th:each="rc:${recom}">
						<img src="/css/image/ranking1.JPG" th:src="@{/css/image/img (img=${rc.bannerImg})}">
						<span th:text="${rc.restName}">${rest_name}</span>
						<img src="/css/image/medal1.png" th:src="@{/css/image/medal} ">
<!--						여기 반복해서 어떻게 넣지;;;-->
					</div>
					<div>
						<img src="/css/image/1-2.png">
						<span>${rest_name}</span>
						<img src="/css/image/medal2.png">
					</div>
					<div>
						<img src="/css/image/1-3.png">
						<span>${rest_name}</span>
						<img src="/css/image/medal3.png">
					</div>
				</div>
			</section>
			<div class="btn_div">
				<div>
					<button type="submit" class="outline scale">근처 맛집 지도</button>
				</div>
				<div>
					<button type="submit" class="outline">맛집 찾아보기</button>
				</div>
			</div>
		</div>
		<!-- 버튼부 -->
		<div></div>
		<div></div>
		<!-- 검색창 -->
		<div class="skin_div">
			<div class="srchbar_div">
				<form action="/search/result">
					<input type="text" placeholder="검색창"
						   minlength="1">
					<button type="submit" class="icon icon-hover icon-search"
							style="width:32px; height:32px;">
					</button>
				</form>
			</div>
		</div>
		<!-- 횡스크롤 -->
		<div class="horizontal">
			<div class="skin">
				<section class="scrollMenu">
					<h1>맛집 추천</h1>
					<div class="container" >
						<article class="card" th:each="rc:${recom}" th:attr="data-id=${rc.id}">
							<h1 th:text="${rc.restName}">부부떡볶이</h1>
							<a href="\"><img src="/css/image/ranking1.JPG" th:src="@{/css/image/{img} (img=${rc.bannerImg})}"></a>
						</article>
<!--						<article class="card">-->
<!--							<h1>토속촌</h1>-->
<!--							<img src="/css/img/1-2.png">-->
<!--						</article>-->
<!--						<article class="card">-->
<!--							<h1>또순이네</h1>-->
<!--							<img src="/css/img/1-3.png">-->
<!--						</article>-->
<!--						<article class="card">-->
<!--							<h1>자담치킨</h1>-->
<!--							<img src="/css/img/1-4.png">-->
<!--						</article>-->
<!--						<article class="card">-->
<!--							<h1>마포갈매기</h1>-->
<!--							<img src="/css/img/1-5.png">-->
<!--						</article>-->
					</div>
				</section>
				<section class="scrollMenu">
					<h1>최신 후기</h1>
					<div class="container">
						<article class="reviewCard" th:each="rv:${review}" th:attr="data-id=${rv.reviewId}">
							<h1 th:text="${rv.restName}">상호명</h1>
							<p th:text="${rv.content}">후기 내용이 들어갑니다후기 내용이 들어갑니다후기 내용이 들어갑니다후기 내용이 들어갑니다</p>
							<div class="alias" th:text="${rv.alias}">작성자 닉네임</div>
						</article>
<!--						<article class="reviewCard">-->
<!--							<h1>토속촌</h1>-->
<!--							<p>후기 내용이 들어갑니다</p>-->
<!--							<div class="alias">작성자 닉네임</div>-->
<!--						</article>-->
<!--						<article class="reviewCard">-->
<!--							<h1>또순이네</h1>-->
<!--							<p>후기 내용이 들어갑니다</p>-->
<!--							<div class="alias">작성자 닉네임</div>-->
<!--						</article>-->
<!--						<article class="reviewCard">-->
<!--							<h1>자담치킨</h1>-->
<!--							<p>후기 내용이 들어갑니다</p>-->
<!--							<div class="alias">작성자 닉네임</div>-->
<!--						</article>-->
<!--						<article class="reviewCard">-->
<!--							<h1>마포갈매기</h1>-->
<!--							<p>후기 내용이 들어갑니다</p>-->
<!--							<div class="alias">작성자 닉네임</div>-->
<!--						</article>-->
					</div>
				</section>
			</div>
		</div>
	</main>


</body>
</html>