<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../../reset.css" rel="stylesheet" type="text/css">
    <link href="../../root.css" rel="stylesheet" type="text/css">
    <link href="../../style.css" rel="stylesheet" type="text/css">
    <link href="../../util.css" rel="stylesheet" type="text/css">
    <link href="../../icon.css" rel="stylesheet" type="text/css">
    <link href="../../button.css" rel="stylesheet" type="text/css">
    <link href="../header.css" rel="stylesheet" type="text/css">
    <link href="../layout.css" rel="stylesheet" type="text/css">
    <link href="login.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="login">
        <!-- 로고-->
        <div>
            <a class="login-logo"><img src="../../../image/icon/logo.svg" alt="맛잘알"></a>
        </div>
        <!-- 라벨박스-->
        <div class="login-box">
            <div class="label-box">
                <label class="label">이메일</label>
                <input class="text-box" type="text" name="email" required>
            </div>
            <div class="label-box">
                <label class="label">비밀번호</label>
                <input class="text-box" type="text" name="email" required>
            </div>
        </div>
        <!-- 회원가입 btn-->
        <div>
            <button class="btn btn-main">회원가입</button>
        </div>
        <!-- 아이디, 비밀번호 찾기-->
        <div class="find-box">
            <a class="find_reg_idpw" href="findid.html">아이디 찾기</a>
            <a class="find_reg_idpw" href="findpw.html">비밀번호 찾기</a>
        </div>
        <!-- SNS로그인 박스-->
        <div class="sns-box">
            <ol class="socialbtn-list">
                <li>
                    <button class="btn btn-question">카카오 로그인</button>
                </li>
                <li>
                    <button class="btn btn-question">네이버 로그인</button>
                </li>
                <li>
                    <button class="btn btn-question">구글 로그인</button>
                </li>
            </ol>
        </div>
        <!-- 회원가입-->
        <div>
            <a class="find_reg_idpw">회원가입</a>
        </div>
    </div>
</body>
</html>