<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../reset.css" rel="stylesheet" type="text/css">
    <link href="../root.css" rel="stylesheet" type="text/css">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link href="../util.css" rel="stylesheet" type="text/css">
    <link href="../icon.css" rel="stylesheet" type="text/css">
    <link href="../button.css" rel="stylesheet" type="text/css">
    <link href="mycomment.css" rel="stylesheet" type="text/css">

</head>
<body>
    <section class="mycomment">
        <h1 class="d:none">작성한 댓글</h1>

        <div class="tab">
            <button class="btn btn-user-tab md:findbtn">작성한 게시글</button>
            <button class="btn btn-user-tab btn-user-tab-line md:findbtn">작성한 댓글</button>
        </div>
        <div class="total md:total">
            총 <span class="fcolor:logo1">5</span>개
        </div>

        <section class="comment-card">
            <h1 class="d:none">댓글카드</h1>
            <!-- 1 -->
            <div class="img-name-block">
                <img class="icon-size:1-1" src="/css/image/icon/badge1.svg">
                <span>바지사장</span>
            </div>
            <!-- 2 -->
            <p class="content-block">여기 정말 맛있쬬? ㅎㅎㅎㅎㅎ 저도 갔는데 너무 맛잇고 좋더라구요!!as정말 맛있쬬? ㅎㅎsㅇ나으파ㅣㄴ파레ㅡ레르ㅠㅔ르ㅠㅔ르ㅏㅔ나으피나으피나으치나아에으데드ㅔㅇ라이ㅏㄴ우파ㅣㅜ풀아ㅣ푸라ㅣ푸라ㅣㅇ푸alknckldsd ㅔ르ㅏㅔ나으피나으피나으치나아ㅔ르ㅏㅔ나으피나으피나으치나아ㅔ르ㅏㅔ나으피나으피나으치나아ㅔ르ㅏㅔ나으피나으피나으치나아ㅔ르ㅏㅔ</p>
            <!-- 3 -->
            <div class="like-block">
                <span class="icon icon-likes icon-size:0">좋아요</span><span class="like-count">43</span>
            </div>
            <!-- 4 -->
            <div class="time-more-block">
                <span>5시간 전</span>
                <span class="icon icon-more-horiz icon-size:1-1 ml:3">더보기</span>
            </div>
        </section>
        <section class="comment-card">
            <h1 class="d:none">댓글카드</h1>
            <!-- 1 -->
            <div class="img-name-block">
                <img class="icon-size:1-1" src="/css/image/icon/badge1.svg">
                <span>바지사장</span>
            </div>
            <!-- 2 -->
            <p class="content-block">여기 정말 맛있쬬? ㅎㅎㅎㅎㅎ 저도 갔는데 너무 맛잇고 좋더라구요!!as정말 맛있쬬? ㅎㅎsㅇ나으파ㅣㄴ파레ㅡ레</p>
            <!-- 3 -->
            <div class="like-block">
                <span class="icon icon-likes icon-size:0">좋아요</span><span class="like-count">43</span>
            </div>
            <!-- 4 -->
            <div class="time-more-block">
                <span>5시간 전</span>
                <span class="icon icon-more-horiz icon-size:1-1 ml:3">더보기</span>
            </div>
        </section>
    </section>
</body>
</html>