<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../reset.css" rel="stylesheet" type="text/css">
    <link href="../root.css" rel="stylesheet" type="text/css">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link href="../util.css" rel="stylesheet" type="text/css">
    <link href="../icon.css" rel="stylesheet" type="text/css">
    <link href="../button.css" rel="stylesheet" type="text/css">
    <link href="mycomment_emp.css" rel="stylesheet" type="text/css">

</head>
<body>
    <section class="commentempty">
        <h1 class="d:none">작성한 댓글</h1>
        <div class="tab">
            <button class="btn btn-user-tab md:findbtn">작성한 게시글</button>
            <button class="btn btn-user-tab btn-user-tab-line md:findbtn">작성한 댓글</button>
        </div>
        <a href="" class="icon icon-size:7 icon-color:black icon-comment-empty ">댓글없음</a>
        <section>
            <h1 class="d:none">안내멘트</h1>
            <p class="ment">
                작성한 후기가 없습니다.<br> 
                <span class="impact">인기 맛집</span>에 가서 후기를 작성하세요.
            </p>
        </section>
        </div>
    </section>
</body>
</html>