.mypage{
    width:inherit;
    display : flex;
    flex-direction: column;
    align-items: center;
    margin-top : 35px;
    gap : 30px;
}

.myinfo{
    display: grid;
    grid-template-columns: 100px 42px 1fr;
    grid-template-rows: 40px 30px 30px;
    align-items: center;
    color : var(--color-base-4);
    width: 392px;
}

.myinfo 
    span {
        font-size: 14px;
    }

.myinfo>:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.myinfo>:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.myinfo>:nth-child(3){
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.myinfo>:nth-child(4){
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.myinfo>:nth-child(5){
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    
}

/* mylist */

.active
    h1{
        margin-bottom: 20px;
    }

.active
    .active-list{
        background-color: var(--color-base-1);
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
        gap :50px;
        width : 393px;
        border-radius: 20px;
    }

.active-list-card a{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap : 20px;
}


.card-label{
        font-size : var(--font-size-7);
        font-weight: bold;
        color : var(--color-base-4);
    }

li
    span{
        font-size : var(--font-size-7);
        font-weight: bold;
    }

/* list*/
.list{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 393px;
}

section
    h1{
        font-size: var(--font-size-8);
        font-weight: bold;
    }


.list-label{
    border-bottom: 2px solid var(--color-base-6);
    height: 40px;
    display: flex;
    align-items: center;
}

.list
    .list-content{
        font-size: var(--font-size-6);
        color: var(--color-base-4);
        height: 40px;
        display: flex;
        align-items: center;
        border-top: 1px solid var(--color-base-2);
    }



@media (min-width: 700px) {
    .myinfo{
        width : 700px;
    }

    .list{
        width: 700px;
}


    .active
        .md\:active-list{
            display: flex;
            /* gap : 40px; */
            height: 100px;
            align-items: center;
            justify-content: space-evenly;
            width : 700px;
        }
}

