<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../reset.css" rel="stylesheet" type="text/css">
    <link href="../root.css" rel="stylesheet" type="text/css">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link href="../util.css" rel="stylesheet" type="text/css">
    <link href="../icon.css" rel="stylesheet" type="text/css">
    <link href="../button.css" rel="stylesheet" type="text/css">
    <link href="myreview.css" rel="stylesheet" type="text/css">

</head>
<body>
    <section class="myreview">
        <h1 class="d:none">후기 관리</h1>
        <div class="total md:total">
            총 <span class="fcolor:logo1">5</span>개
        </div>
        <div class="list md:list">
            <section class="review-card md:review-card">
                <h1>수저가</h1>
                <!--2 -->
                <div>
                    <a href="" class="icon icon-size:4 icon-color:base-4 icon-more-horiz">세로확장</a>
                </div>
                <!--3 -->
                <div>
                    <img src="../image/icon/food1.svg"></img>
                </div>
                <!-- 4-->
                <ul class="stars">
                    <li>
                        <a href="" class="icon icon-size:5 icon-color:yellow icon-star:fill">별</a>
                    </li> 
                    <li>
                        <a href="" class="icon icon-size:5 icon-color:yellow icon-star:fill">별</a>
                    </li>
                    <li>
                        <a href="" class="icon icon-size:3 icon-color:base-5 icon-star">별</a>
                    </li>
                    <li>
                        <a href="" class="icon icon-size:3 icon-color:base-5 icon-star">별</a>
                    </li>
                    <li>
                        <a href="" class="icon icon-size:3 icon-color:base-5 icon-star">별</a>
                    </li>
                </ul>
                <!-- 5-->
                <div>
                    <p>여기는 차돌박이입니다! 갈때마다 차돌만 먹어요!!</p>
                </div>
            </section>
            <section class="review-card md:review-card">
                <h1>수저가</h1>
                <!--2 -->
                <div>
                    <a href="" class="icon icon-size:4 icon-color:base-4 icon-more-horiz">세로확장</a>
                </div>
                <!--3 -->
                <div>
                    <img src="../image/icon/food1.svg"></img>
                </div>
                <!-- 4-->
                <ul class="stars">
                    <li>
                        <a href="" class="icon icon-size:5 icon-color:yellow icon-star:fill">별</a>
                    </li> 
                    <li>
                        <a href="" class="icon icon-size:5 icon-color:yellow icon-star:fill">별</a>
                    </li>
                    <li>
                        <a href="" class="icon icon-size:3 icon-color:base-5 icon-star">별</a>
                    </li>
                    <li>
                        <a href="" class="icon icon-size:3 icon-color:base-5 icon-star">별</a>
                    </li>
                    <li>
                        <a href="" class="icon icon-size:3 icon-color:base-5 icon-star">별</a>
                    </li>
                </ul>
                <!-- 5-->
                <div>
                    <p>여기는 차돌박이입니다! 갈때마다 차돌만 먹어요!!</p>
                </div>
            </section>
            
        </div >
</body>
</html>