
.title{
    font-size: 30px;
}

.agreement{
    color:var(--color-base-4);
    font-size: 12px;
}

.text-line {

    font-size: 16px;
    gap:10px;
}

.text-line 
    p{
    width : 300px;
}

.text-line 
    a{
    color : var(--color-base-4);
}

/* -----------layout---------------- */


.agree-box{
    display: flex;
    flex-direction: column;
    gap:38px;
    width : inherit;
    height: 100%;
    align-items: center;
    margin-top : 35px;
    /* align-items: center; */
}

.title-box{
    display: flex;
    flex-direction: column;
    gap : 10px;
    width: 400px;
    /* align-items: center; */
    
}

.check-box{
    display: flex;
    flex-direction: column;
    gap:5px;
    width : 400px;
}

.agree-box
    div {
        width: 300px;
        height : 50px;
    }


.agree-box
    div
        button{
            width: inherit;
            height : inherit;
            margin-top : 150px;
            }

.text-line {
    display: flex;
    align-items: center;
    width : 400px;
}