<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../reset.css" rel="stylesheet" type="text/css">
    <link href="../root.css" rel="stylesheet" type="text/css">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link href="../util.css" rel="stylesheet" type="text/css">
    <link href="../icon.css" rel="stylesheet" type="text/css">
    <link href="../button.css" rel="stylesheet" type="text/css">
    <link href="user_delete.css" rel="stylesheet" type="text/css">

</head>
<body>
    <section class="user-delete">
        <h1 class="d:none">회원탈퇴</h1>
        <div class="myinfo md:myinfo">
            <a href="" class="icon icon-size:6 icon-color:black icon-user-profile">프로필사진없음</a>
            <a href="" class="icon icon-size:5 icon-badge1">등급 </a>
            <p class="nickname">바지사장</p>
        </div>
        <ul class="list md:list">
            <li class="list-card">
                <span class="card-label">작성한 글</span>
                <span>155</span>
            </li>
            <li class="list-card">
                <span class="card-label">작성한 후기</span>
                <span>55</span>
            </li>
            <li class="list-card">
                <span class="card-label">찜한 목록</span>
                <span>5</span>
            </li>
        </ul>
        
        <section class="ment-box md:ment-box">
            <h1 class="ment-title"><span class="nickname-impact">바지사장</span> 회원님, 탈퇴하시겠습니까?</h1>
            <p class="ment-content">탈퇴시 회원님의 정보 및 서비스 이용 기록이 삭제됩니다</p>
        </section>

        <div>
            <input class="btn btn-main" type="submit" name="cmd" value="탈퇴하기">
        </div>
    </section>
</body>
</html>