<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛집정보등록</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/util/box.css" rel="stylesheet" type="text/css">
    <link href="/css/util/content.css" rel="stylesheet" type="text/css">
    <link href="/css/util/form.css" rel="stylesheet" type="text/css">
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css">
    <link href="/css/components/dropdown-select.css" rel="stylesheet" type="text/css">
    <link href="/css/components/button.css" rel="stylesheet" type="text/css">
    <link href="detail.css" rel="stylesheet" type="text/css">
    
</head>
<body>
    <main class="main">
        <section class="create-store">
        <h1 class="create-store-title">맛집 정보 등록</h1>

            <form action="" id="create-form" class="create-form">
                
                <div class="input-box">
                    <div class="filebox">
                        <span>배너사진</span>
                        <div class="">
                            <input class="upload-name" value="" disabled="disabled">
                            <label for="file">사진추가</label>
                            <input type="file" id="file" value="사진추가">
                        </div>
                    </div>
                    
                    <div class="text-box">
                        <label>상호명</label>
                        <div class="text">
                            <input type="text">
                        </div>
                    </div>

                    <div class="dropdown-select md:dropdown-select">
                        <form action="">
                            <legend for="celeb" class="">celeb명</legend>
                                <select id="" name="" class="celeb-select md:celeb-select">
                                    <option value="유명인1">유명인1</option>
                                    <option value="유명인2">유명인2</option>
                                    <option value="유명인3">유명인3</option>
                                    <option value="유명인4">유명인4</option>
                                    <option value="유명인5">유명인5</option>
                                </select>
                        </form> 
                        
                        <form action="">
                            <legend for="location" class="">지역 선택</legend>
                                <select id="" name="" class="location-select md:location-select">
                                    <option value="서울 전체">서울 전체</option>
                                    <option value="은평/서대문/마포">은평/서대문/마포</option>
                                    <option value="종로/중구/용산">종로/중구/용산</option>
                                    <option value="영등포/구로/금천">영등포/구로/금천</option>
                                    <option value="동작/관악">동작/관악</option>
                                    <option value="강서/양천">강서/양천</option>
                                    <option value="도봉/노원/강북/성북">도봉/노원/강북/성북</option>
                                    <option value="중랑/동대문/성동/광진">중랑/동대문/성동/광진</option>
                                    <option value="강남/서초">강남/서초</option>
                                    <option value="강동/송파">강동/송파</option>
                                </select>
                        <!-- <button class="icon icon-color-base:4 icon-drop-down-arrow">선택</button> -->
                        </form>
                    </div>
                    
                    <div class="text-box">
                        <label>주소</label>
                        <div class="text">
                            <input type="text">
                        </div>
                    </div>

                    <div class="text-box">
                        <label>전화번호</label>
                        <div class="text">
                            <input type="tel">
                        </div>
                    </div>

                    <div class="text-box">
                        <label>영업시간</label>
                        <div class="text">
                            <input type="text">
                        </div>
                    </div>      
                    
                    <div class="menu-price-box">
                        <div class="text-box">
                            <label>메뉴</label>
                            <div class="text">
                                <input type="text">
                            </div>
                        </div>  
                        
                        <div class="text-box">
                            <label>가격</label>
                            <div class="text">
                                <input type="text">
                            </div>
                        </div>
                    </div>


                    <div class="filebox">
                        <span>메뉴판 사진</span>
                        <div class="">
                            <input class="upload-name" value="" disabled="disabled">
                            <label>사진추가</label>
                            <input type="file" id="file" value="사진추가">
                        </div>
                    </div>

                    <div class="filebox">
                        <span>기본사진 1</span>
                        <div class="">
                            <input class="upload-name" value="" disabled="disabled">
                            <label>사진추가</label>
                            <input type="file" id="file" value="사진추가">
                        </div>
                    </div>

                    <div class="filebox">
                        <span>기본사진 2</span>
                        <div class="">
                            <input class="upload-name" value="" disabled="disabled">
                            <label>사진추가</label>
                            <input type="file" id="file" value="사진추가">
                        </div>
                    </div>

                    <div class="text-box">
                        <label>비고</label>
                        <div class="text">
                            <input type="text">
                        </div>
                    </div>
                </div>
            </form>
                
                <div class="create-mg-btn">
                    <button type="submit" name="cmd" value="수정" class="btn-main btn-main-create btn-main-create-edit">수정</button>
                    <button type="submit" name="cmd" value="등록" class="btn-main btn-main-create">등록</button>
                </div>
            </section>
        </main>


</body>
</html>