<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faq 관리</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/util/box.css" rel="stylesheet" type="text/css">
    <link href="/css/util/content.css" rel="stylesheet" type="text/css">
    <link href="/css/util/form.css" rel="stylesheet" type="text/css">
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css">
    <link href="/css/components/pagination.css" rel="stylesheet" type="text/css">
    <link href="/css/components/search.css" rel="stylesheet" type="text/css">
    <link href="/css/components/button.css" rel="stylesheet" type="text/css">
    <link href="/css/components/dropdown-select.css" rel="stylesheet" type="text/css">
    <link href="/css/components/admin/main-header.css" rel="stylesheet" type="text/css">
    <link href="list.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main class="main">
        <section class="main-section md:main-section">
            <h1 class="main-section-title">FAQ 관리</h1>
            <header class="main-section-header">
                <div class="main-section-count">
                    <p>총 <span>00</span>개</p>
                </div>
    
                <!-- 등록, 수정, 삭제 버튼 -->
                <div class="manage-button">
                    <form action="" class="store-create-button">
                        <input type="button" value="등록" class="btn-main btn-main-create btn-main-small">
                    </form>
                    <form action="" class="store-edit-button">
                        <input type="button" value="수정" class="btn-main btn-main-create-edit btn-main-small">
                    </form>
                    <form action="" class="store-delete-button">
                        <input type="button" value="삭제" class="btn-main btn-main-create btn-main-create-delete btn-main-small">
                    </form>
                </div>
                    
                    <!-- 제목 검색 버튼 -->
                    <form class="search-form">
                        <fieldset class="search md:search">
                            <legend class="d:none">제목</legend>
                            <input type="search" placeholder="제목">
                            <button type="submit" class="icon icon-color-black icon-search"></button>
                        </fieldset>
                    </form>
  
            </header>
        
            <!-- 본문!! -->
            <!-- faq 목록 -->
            <section class="faq-block md:faq-block">
                <h1 class="faq-title">FAQ 제목</h1>

                <form action="" class="checkbox-block">
                    <input type="checkbox">
                </form>

                <div class="faq-reg_date-block">
                    <a class="">2023년 9월 20일</a>
                </div>

            </section> 

            <!-- 공지 목록 -->
            <section class="faq-block md:faq-block">
                <h1 class="faq-title">faq 제목</h1>
                <form action="" class="checkbox-block">
                    <input type="checkbox">
                </form>

                <div class="faq-reg_date-block">
                    <a class="">2023년 9월 20일</a>
                </div>
            </section> 
 

            <!-- 페이지 이동 -->
            <div class="pagination">
                <a class="" href="">&laquo;</a>
                <a class="page-active" href="">1</a>
                <a class="" href="">2</a>
                <a class="" href="">3</a>
                <a class="" href="">4</a>
                <a class="" href="">5</a>
                <a class="" href="">&raquo;</a>
            </div>

        </section>
    </main>
</body>
</html>