<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>
  <aside class="aside">
    <h1>관리메뉴</h1>
    <div>
      <nav>
        <h1>제품관리 목록</h1>
        <ul>
          <li><a href="/admin/menu/list">메뉴관리</a></li>
          <li><a href="">카테고리 관리</a></li>
        </ul>
      </nav>
      <nav>
        <h1>커뮤니티 관리목록</h1>
        <ul>
          <li><a href="">공지관리</a></li>
          <li><a href="">이벤트관리</a></li>
        </ul>
      </nav>
    </div>
  </aside>
</body>
</html>