<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="/css/components/user/fav.css" rel="stylesheet" type="text/css">

</head>
<body>
    <main layout:fragment="main">
        <section class="fav">
            <h1 class="d:none">찜목록관리</h1>
            <div class="total md:total">
                총 <span class="fcolor:logo1">5</span>개
            </div>
            <div class="list md:list">
                <section class="fav-card md:fav-card">
                    <h1>수저가</h1>
                    <!--2 -->
                    <div class="image-block">
                        <img src="/css/image/icon/food1.svg"></img>
                    </div>
                    <!-- 3-->
                    <div class="content-block">
                        <p>차돌박이 + 밥 무한리필 최고</p>
                    </div>
                    <!--4 -->
                    <div class="like-block">
                        <a href="" class="icon icon-size:2 icon-redheart icon-color:red ">좋아요</a>
                    </div>
                    <!-- 5-->
                    <div class="star-review-block">
                        <a href="" class="icon icon-size:3 icon-color:yellow icon-star:fill">별</a>
                        <span>3.5 (15 review)</span>
                    </div>
                </section>
                <section class="fav-card md:fav-card">
                    <h1>수저가</h1>
                    <!--2 -->
                    <div class="image-block">
                        <img src="/css/image/icon/food1.svg"></img>
                    </div>
                    <!-- 3-->
                    <div class="content-block">
                        <p>차돌박이 + 밥 무한리필 최고</p>
                    </div>
                    <!--4 -->
                    <div class="like-block">
                        <a href="" class="icon icon-size:2 icon-heart">좋아요</a>
                    </div>
                    <!-- 5-->
                    <div class="star-review-block">
                        <a href="" class="icon icon-size:3 icon-color:yellow icon-star:fill">별</a>
                        <span>3.5 (15 review)</span>
                    </div>
                </section>
                <section class="fav-card md:fav-card">
                    <h1>수저가</h1>
                    <!--2 -->
                    <div class="image-block">
                        <img src="/css/image/icon/food1.svg"></img>
                    </div>
                    <!-- 3-->
                    <div class="content-block">
                        <p>차돌박이 + 밥 무한리필 최고</p>
                    </div>
                    <!--4 -->
                    <div class="like-block">
                        <a href="" class="icon icon-size:2 icon-redheart icon-color:red ">좋아요</a>
                    </div>
                    <!-- 5-->
                    <div class="star-review-block">
                        <a href="" class="icon icon-size:3 icon-color:yellow icon-star:fill">별</a>
                        <span>3.5 (15 review)</span>
                    </div>
                </section>
            </div>
        </section>
    </main>

</body>
</html>