<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>나의 게시글</title>

    <link href="/css/components/user/mypost.css" rel="stylesheet" type="text/css">

</head>
<body>
<main layout:fragment="main">
    <section class="mypost">
        <h1 class="d:none">작성한 게시글</h1>
        <div class="tab">
            <button onclick="location.href='mypost'" class="btn btn-user-tab btn-user-tab-line md:findbtn">작성한 게시글</button>
            <button onclick="location.href='mycomment'" class="btn btn-user-tab md:findbtn">작성한 댓글</button>
        </div>
        <div class="total md:total">
            총 <span class="fcolor:logo1" th:text="${userView.postCount}">5</span>개
        </div>

        <section class = "commu_area" th:each="p : ${list}">
            <h1 class = "d:none"> 🌝 커뮤 공간 🌝 </h1>
            <div class="post-layout md:post-layout" >
                <div class = "container md:container">
                    <section class ="top">
                        <h1 class="d:none"> 작성자 정보 & 작성시간 & 확장메뉴</h1>
                        <section class="member_info">
                            <h1 class="d:none"> 작성자 등급 & 닉네임</h1>
                            <div class="badge">
                                <img src="/css/image/icon/badge2.svg" style="height:20px;" alt="등급2" />
                            </div>
                            <div class="nickname">
                                        <span th:text="${p.alias}">
                                            팅클이졸귀임
                                        </span>
                            </div>
                        </section>
                        <section class="date_info">
                            <h1 class="d:none"> 작성 시간 & 확장메뉴</h1>
                            <div>
                                        <span >
                                            12분전
                                        </span>
                            </div>
                            <div>
                                <a class="icon icon-more-horiz icon-size-commu:2 icon-color:va" href=""> 세로 확장</a>
                            </div>
                        </section>
                    </section>
                    <section class ="middle">
                        <h1 class="d:none"> 게시글-제목, 내용, 사진  </h1>
                        <section class="title">
                            <h1 class="d:none"> 제목</h1>
                            <p th:text="${p.title}"> 111 첫번째 피드 .</p>
                        </section>
                        <section class="content">
                            <h1 class="d:none"> 내용</h1>
                            <p th:text="${p.content}"> 내용입니다. 내용을 많이많이많이 적으면 어떻게 되려나아아아아아아아아아아아아아</p>
                        </section>
                        <section class="picture md:picture">
                            <h1 class="d:none"> 사진</h1>
                            <picture>
                                <img src="/css/image/icon/food1.svg" alt="Responsive Image" th:src="@{'/css/image/' + ${p.img1}}">
                                <img src="/css/image/icon/food1.svg" alt="Responsive Image" th:src="@{'/css/image/' + ${p.img2}}">
                                <img src="/css/image/icon/food1.svg" alt="Responsive Image" th:src="@{'/css/image/' + ${p.img3}}">
                            </picture>
                        </section>
                    </section>
                    <section class ="bottom">
                        <h1 class="d:none"> 조회수 좋아요 댓글 </h1>

                        <section class="view">
                            <h1 class="d:none"> 조회수 </h1>
                            <div>
                                <span class="deco icon-view icon-size:1 icon-base-6" href=""> 조회수</span>
                            </div>
                            <div>
                                <span th:text="${p.hit}"> 367</span>
                            </div>
                        </section>

                        <section class="like">
                            <h1 class="d:none"> 좋아요 </h1>

                            <div>
                                <a class="icon icon-likes icon-size:1 icon-base-6" href=""> 좋아요</a>
                            </div >


                            <div>
                                <span th:text="${p.postLikeCount}"> 98</span>
                            </div>
                        </section>
                        <section class="comment">
                            <h1 class="d:none"> 댓글 </h1>
                            <div>
                                <span class="deco icon-comment icon-size:1 icon-base-6" href=""> 댓글</span>
                            </div>
                            <div>
                                <span> 57</span>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </section>
    </section>
</main>
</body>
</html>