<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="/css/components/user/reg_agree.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main layout:fragment="main">
        <div class="agree-box">
            <section class="title-box">
                <h1 class="title">약관동의</h1>
                <p class="agreement">가입을 위해 다음 약관 동의가 필요합니다.</p>
            </section>

            <ul class="check-box">
                <li class="text-line">
                    <a href="" class="icon icon-size:4 icon-color:black icon-uncheckedbox">체크안한박스</a>
                    <p>[필수]개인정보 수집 및 이용에 동의합니다.</p>
                    <a href="">보기</a>
                </li>
                <li class="text-line">
                    <a href="" class="icon icon-size:4 icon-color:black icon-checkedbox">체크박스</a>
                    <p>[필수]본인이 만 14세 이상입니다.</p>
                </li>
                <li class="text-line">
                    <a href="" class="icon icon-size:4 icon-color:black icon-checkedbox">체크박스</a>
                    <p>[선택]위치정보 수집에 동의합니다.</p>
                    <a href="">보기</a>
                </li>
            </ul>

            <div>
                <a type="submit" id="agree-check" class="btn btn-main" href="/user/reg">다음</a>
            </div>
        </div>
    </main>
</body>
</html>