html,
body {
  height: 100%;
  margin: 0;
}

body {
  /* font */
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;

  color: var(--color-base-9);
}

main {
  flex-grow: 1;
}
