<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rland.web.repository.LikeRepository">

	<insert id="save" parameterType="Like">
	insert into `like`( `member_id`, `menu_id`)
		values(#{memberId},#{menuId})
	</insert>
	<select id="last" parameterType="Like">
		select * from `like` order by reg_date desc limit 1
	</select>
<!--	<update id="update"></update>-->
	<delete id="delete" parameterType="Like">
		delete from `like`
		where member_id=#{memberId} and menu_id=#{menuId}
	</delete>
</mapper>