<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout.html}">
	
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <!-- <link href="../reset.css" rel="stylesheet" type="text/css"> -->
    <link href="../root.css" rel="stylesheet" type="text/css">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link href="../util.css" rel="stylesheet" type="text/css">
    <link href="../icon.css" rel="stylesheet" type="text/css">
    <link href="../button.css" rel="stylesheet" type="text/css">
    <link href="header.css" rel="stylesheet" type="text/css">
    <link href="layout.css" rel="stylesheet" type="text/css">
    <link href="bottom.css" rel="stylesheet" type="text/css">
    <link href="faqList.css" rel="stylesheet" type="text/css">
</head>

<body>
	<main layout:fragment="main" class="faq-list" th:each="n: ${faq}">
<!--		<a href="/index"> 홈 </a>-->
        <div class="faq-qty" th:text="${f.faqId}">20 <span>건</span></div>

        <section class="faq-list-box-left" th:each="n : ${list}">
            <h1 class="d:none">공지사항 목록</h1>
            <div class="list-left-side"><span class="faq-number" th:text="${n.faqId}">20.</span>
                <h1>시스템 점검 안내</h1>
                <div class="reg-date">2023.08.04</div>
            </div>
            
        </section>
            
            <!-- <span class="gotodetail deco icon-right-arrow icon-size:0"></span> -->
            <section class="faq-list-box-right"></section>
            <div class="list-right-side">
                <span class="gotodetail deco icon-right-arrow icon-size:2">화살표</span>
            </div>

        </section>

		

			
	</main>	

</body>	

</html>
