/* display */
.d\:none{ display: none !important;}
.d\:flex{ display: flex !important;}
.d\:block{ display: block !important;}
.d\:inline{ display : inline !important;}
.d\:inline-block{ display : inline-block !important;}

/* calspan, rowspan */
.colspan\:2{grid-column: span 2 !important;}

/* justify-self */
.justify-self\:left{ justify-self: left;}
.justify-self\:right{ justify-self: right;}
.justify-self\:center{ justify-self: center;}

/* justify-content */
.justify-content\:center{justify-content:center !important;}


/* border */
.border\:bottom\:off{ border-bottom: none; }

/* -------------------boxing -----------------*/

/* margin */
.ml\:1{margin-left:var(--gap-1);} /* 5px*/
.ml\:2{margin-left:var(--gap-2);} /* 8px*/  
.ml\:3{margin-left:var(--gap-3);} /* 10px*/



/* padding */

/* border */

/* size */

/* -------------------font -----------------*/

/* font - color */
.fcolor\:logo1{ color:var(--color-logo-1)}

/* width : 0~700 까지 안보인다.*/
@media (max-width: 700px) {
    .mxd\:d\:none{ display: none !important;}
    .mxd\:d\:flex{ display: flex !important;}
    .mxd\:d\:block{ display: block !important;}
    .mxd\:d\:inline{ display : inline !important;}
    .mxd\:d\:inline-block{ display : inline-block !important;}

    .mxd\:colspan\:2{grid-column: span 2 !important;}
}

/* width : 최소 700부터 안보인다 */
@media (min-width: 700px) {
    .md\:d\:none{ display: none !important;}
    .md\:d\:flex{ display: flex !important;}
    .md\:d\:block{ display: block !important;}
    .md\:d\:inline{ display : inline !important;}
    .md\:d\:inline-block{ display : inline-block !important;}

    .md\:colspan\:2{grid-column: span 2 !important;}

}