<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{inc/layout.html}">

<head>
	<script src="/js/menu/list.js"></script>
</head>

<body>
<main layout:fragment="main">
	<section class="menu-list">
		<h1 class="d:none">메뉴 검색 목록</h1>
		<div>
			<section class="menu-filter">
				<h1>Rland Menu<span class="d:none">검색</span></h1>

				<nav class="category-filter">
					<h1 class="d:none">카테고리 검색 메뉴 목록</h1>
					<ul>
						<li><a class="sm:deco current md:deco sm:icon-filter_list" href="">전체메뉴</a></li>
						<li th:each="c:${categoryList}">
							<a data-id="" th:attr="data-id=${c.id}" class="d:none md:d:inline" href="?c=1" th:text="${c.name}" th:href="@{?c={c}(c=${c.id})}"></a>
<!--							<a th:data-id="${c.id}" class="d:none md:d:inline" href="?c=1" th:text="${c.name}" th:href="@{?c={c}(c=${c.id})}"></a>-->
						</li>

					</ul>
				</nav>
				<section class="query-filter">
					<h1 class="d:none">이름 검색 폼</h1>
					<form>
						<fieldset>
							<legend class="d:none">이름 검색</legend>
							<input type="text" class="input-query" placeholder="메뉴 검색">
							<button class="icon icon-find btn-find">검색</button>
						</fieldset>
					</form>
				</section>
			</section>

			<!-- ------------------------------------------------------ -->

			<section class="menu-card-list">
				<h1 class="d:none">메뉴 목록</h1>
				<div class="content">
					<section class="menu-card" th:each="m:${list}">
						<h1>
							<a class="heading-3" href="detail.html" th:text="${m.korName}"></a></h1>
						<h2 class="heading-2 font-weight:normal color:base-5" th:text="${m.engName}">Cafe Latte</h2>
						<div class="price-block d:flex align-items:flex-end"><span class="font-weight:bold" th:text="${#numbers.formatInteger(m.price,3,'COMMA')}">4,500</span>원<span class="soldout-msg ml:auto mr:auto md:d:none">SOLD OUT</span></div>
						<div class="img-block">
							<a href="detail.html?id=1" th:href="@{/menu/detail (id=${m.id})}"><img src="/image/menu/8.jpg" th:src="@{/image/menu/product/{img} (img=${m.img})}"></a>
						</div>
						<div class="like-block d:flex justify-content:flex-end">
							<a th:classappend="${m.isLike}? 'icon-heart-fill' : 'icon-heart'" class="icon icon-color:base-4 btn-like"  href="" >좋아요</a>
							<span class="font-weight:bold ml:1" th:text="${m.likeCount}">2</span>
						</div>
						<div class="pay-block d:flex">
							<a class="icon md:icon:none icon-cart icon-color:base-0 color:base-0 btn-type:icon btn-cart md:btn-type:text" href="">담기</a>
							<a class="icon md:icon:none icon-card icon-color:base-0 color:base-0 btn-type:icon btn-card md:btn-type:text" href="">주문하기</a>
						</div>
					</section>
				</div>
			</section>
		</div>
	</section>
	<div th:replace="~{inc/basket-status::.basket-status}"></div>
</main>
</body>

</html>