<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색창</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/components/button.css" rel="stylesheet" type="text/css">
    <link href="search.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <form class="search-form">
        <fieldset class="search md:search">
            <legend class="d:none">상호명 검색</legend>
                <input type="search" placeholder="상호명" size="5">
                <button type="submit" class="icon icon-color-black icon-search"></button>
        </fieldset>
    </form>

    <form class="search-form">
        <fieldset class="search md:search">
            <legend class="d:none">지역명 검색</legend>
            <input type="search" placeholder="지역" size="5">
            <button type="submit" class="icon icon-color-black icon-search"></button>
        </fieldset>
    </form>

    <form class="search-form">
        <fieldset class="search md:search">
            <legend class="d:none">내용 검색</legend>
            <input type="search" placeholder="지역" size="5">
            <button type="submit" class="icon icon-color-black icon-search"></button>
        </fieldset>
    </form>

</body>
</html>