<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link href="../reset.css" rel="stylesheet" type="text/css">
    <link href="../root.css" rel="stylesheet" type="text/css">
    <link href="../util.css" rel="stylesheet" type="text/css">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link href="../icon.css" rel="stylesheet" type="text/css">
    <link href="button.css" rel="stylesheet" type="text/css">
    <link href="stat-card.css" rel="stylesheet" type="text/css">

</head>

<body>
    <section class="stat-card md:stat-card">
        <h1 class="d:none">통계 카드</h1>
            <div class="card-list-1 md:card-list-1">
                <article class="card md:card pink-card md:1st-card">
                    <h1>전체 회원</h1>
                    <p>n명</p>
                </article>
              
                <article class="card md:card gray-card md:2st-card">
                    <h1>문의(미답변)</h1>
                    <p>n건</p>
                </article>
            </div>

            <div class="card-list-2 md:card-list-2">
                <article class="card md:card gray-card md:1st-card">
                    <h1>신규 게시글</h1>
                    <p>n건</p>
                </article>
              
                <article class="card md:card pink-card md:2st-card">
                    <h1>신고(미처리)</h1>
                    <p>n건</p>
                </article>
            </div>

    </section>
</body>

</html>