<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noticeDetail</title>
    <!-- <link href="../reset.css" rel="stylesheet" type="text/css"> -->
    <link href="../root.css" rel="stylesheet" type="text/css">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link href="../util.css" rel="stylesheet" type="text/css">
    <link href="/css/util/content.css" rel="stylesheet" type="text/css">
    <link href="/css/util/form.css" rel="stylesheet" type="text/css">
    <link href="/css/util/box.css" rel="stylesheet" type="text/css">
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css">
    <link href="../icon.css" rel="stylesheet" type="text/css">
    <link href="../button.css" rel="stylesheet" type="text/css">
    <link href="header.css" rel="stylesheet" type="text/css">
    <link href="layout.css" rel="stylesheet" type="text/css">
    <link href="bottom.css" rel="stylesheet" type="text/css">
    <link href="detail.css" rel="stylesheet" type="text/css">
</head>

<body>
    <main class="notice-detail-main">
        <h1 class="d:none">공지사항 상세</h1>

        <section class="notice-detail">

            <div class="title-block">
                <span class="notice-title">시스템 점검 안내</span>
                <span class="reg-date">2023.08.04</span>
            </div>

            <div class="content-block d:flex">
                <article class="article-content d:flex md:article-content">
                    <h1 class="d:none">NOTICE 내용</h1>
                    <p class="article-content-p md:article-content-p">
                        23.08.10. 오후 6시~<br><br>
                        시스템 점검이 있을 예정이오니, 
                        위 내용을 참고하시어 이용에 불편이 없으시길 바랍니다. 고객님의 이해와 배려가 맛잘알 운영에 많은 도움이 됩니다.<br>
                        감사합니다.
                    </p>
                </article>
            </div>
        </section>
            <section class="prev-next-block md:prev-next-block">
                <div class="prev-block d:flex md:prev-block">
                    <span class="prev-post deco icon-upside md:deco">이전 글</span>
                    <span class="prev-title" a href="">이전 글이 없습니다.
                    </span>
                </div>

                <div class="next-block d:flex md:next-block">
                    <span class="next-post deco icon-downside md:deco">다음 글</span>
                    <span class="next-title" a href="">개인정보 이용내역 안내
                    </span>
                </div>
            </section>

                <div class="backtolist-block d:flex mt:4-2">
                    <a class="btn btn-notice-list mv:auto md:btn-bigger">공지사항 목록</a>
                </div>

    </main>




    <!-- --------------------하단 바-------------------------------- -->
    <nav class="bottom-nav md:d:none">
        <h1 class="d:none">하단바 내비게이션</h1>
        <ul class="bottom-ul">
            <a href="" class="icon icon-home icon-size:5 icon-color:black"> 홈</a>
            <a href="" class="icon icon-search icon-size:5 icon-color:black"> 검색</a>
            <a href="" class="icon icon-community icon-size:5 icon-color:black"> 커뮤니티</a>
            <a href="" class="icon icon-person icon-size:5 icon-color:black"> 마이페이지</a>
        </ul>
    </nav>



</body>

</html>