<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/util/box.css" rel="stylesheet" type="text/css">
    <link href="/css/util/content.css" rel="stylesheet" type="text/css">
    <link href="/css/util/form.css" rel="stylesheet" type="text/css">
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/components/button.css" rel="stylesheet" type="text/css">
    <link href="header.css" rel="stylesheet" type="text/css">

</head>
<body>
    <header class="header md:header">
        <h1 class="d:none">관리자 페이지</h1>
        <nav class="content-box">

            <!-- 메뉴바(모바일페이지에서만 나타남) -->
            <ul class="md:d:none mobile">
                <li><a class="menubar icon icon-menu md:icon-size:3 icon-color-black" href="">menu</a></li>
                <li><span class="page-title md:d:none">관리자 페이지</span></li>
            </ul>
            
            <!-- 데스크탑 헤더 : 모바일페이지 이동 -->
            <ul class="web mxd:d:none">
                <li><a class="logo md:logo"><img src="/css/image/manage-icon/logo.svg" style="height:50%" alt="맛잘알"></a></li>
                <li><a href="" >커뮤니티</a></li>
                <li><a href="" >유명인</a></li>
                <li><a href="" >마이페이지</a></li>
                <li><a href="" >고객센터</a></li>
            </ul>
        </div>
    </header>
</body>
</html>