
.comment-block{
    display: grid;
    width: 100%;
    height: 80px;

    grid-template-columns: 30px minmax(50%, auto) 1fr;
    grid-template-rows: minmax(20px, auto) 20px 20px;

    grid-template-areas: 
    "checkbox comment comment"
    "checkbox  alias    date"
    "checkbox  post     post"
    ;

    align-items: center;
    font-size: var(--font-size-0);
    grid-gap: var(--gap-3);
    border-bottom: 1px solid var(--color-base-3);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.comment-block
    .checkbox-block{
        grid-area: checkbox;
        padding: 10px;
    }

.comment-block
    .comment-content{
        grid-area: comment;
        font-weight: 700;
        font-size: var(--font-size-2);
    }

.comment-block
    .comment-alias-block{
        grid-area: alias;
    }

.comment-block
    .comment-date-block{
        grid-area: date;
    }

.comment-block
    .post-title-block{
        grid-area: post;    
        font-size: var(--font-size-2);
        color: var(--color-base-4);
    }   


@media (min-width : 700px) {
    .md\:comment-block{
        font-size: var(--font-size-2);
        height: 100px;
    }

    .md\:comment-block
        .comment-content{
            font-size: var(--font-size-5);
        }

    .md\:comment-block
        .post-title-block{
            font-size: var(--font-size-5);

        }


    
}